build/
node_modules/
lib/
dist/
.history/
cmake-build-*/
# idea files
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.nyc_output/
.clangd/
compile_commands.json